#userNotesContent {
    max-height: calc(100vh - 85px);
    min-height: calc(100vh - 85px);
    overflow: auto;
}

#titleTextBox {
    display: block;
    padding: 6px 15px 0 15px;
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    color: white;
    font-size: 22px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-weight: 500;
    border: unset;
    outline: unset;
}

#titleTextBox[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgb(140, 138, 138);
}

#notesArea {
    padding: 10px 15px 100px 15px;
    color: white;
    font-size: 16px;
    resize: unset;
    width: calc(100% - 30px);
    min-height: calc(100vh - 199px);
    max-height: calc(100vh - 199px);
    border: unset;
    outline: unset;
    background-color: unset;
}

.toDosBox {
    display: flex;
    align-items: center;
}

.firstToDoBox {
    margin-top: 10px;
}

.toDosBox:focus-within {
    background-color: rgb(58, 58, 58);
}

.toDosBox:last-child {
    margin-bottom: 100px;
}

.todosInputBox {
    color: white;
    font-size: 15px;
    padding: 10px;
    resize: vertical;
    outline: unset;
    width: 94%;
    background-color: unset;
    border: unset;
}

.todosIsDone {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 182, 182);
    text-decoration-thickness: 2px;
}

/* ...............M-Web................ */

/* @media screen and (max-width: 1200px) {} */
