body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(30, 30, 30);
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: unset;
	text-decoration: unset;
}

#loadingScreen {
	font-size: 50px;
	color: white;
	text-align: center;
	background: #242526;
	overflow: hidden;
	min-height: 100vh;
	width: 100%;
	padding-top: 10%;
}

#pageNotFound {
	margin: 50px 10px;
}

#pageNotFound a:hover {
	text-decoration: underline;
}
