.authPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* background: #242526; */
	/* background: linear-gradient(to right, rgba(36,37,38,1) 0%, rgba(30,30,30,1) 100%); */
	background: linear-gradient(135deg, rgba(37, 38, 39, 1) 0%, rgba(37, 38, 39, 1) 10%, rgba(30, 30, 30, 1) 100%);
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
}

#myLogo {
	margin-top: -30px;
	/* height: 200px; */
}

#Title {
	color: lightgray;
	margin-bottom: 20px;
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 1px;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 450px;
}

input {
	font-size: 17px;
	box-shadow: 0 2px 4px rgba(192, 192, 192, 0.1);
	border: #2e2c2c 2px solid;
	background-color: #f1f1f1;
	border-radius: 25px;
	width: 100%;
	height: 42px;
	padding-left: 15px;
	outline: unset;
}

input:hover {
	border: #757575 2px solid;
}

.inputBottomMargin {
	margin-bottom: 20px;
}

input:focus {
	border: rgb(0, 140, 255) 2px solid;
}

#showPassword {
	display: flex;
	justify-content: left;
	width: 100%;
	margin: 10px 0;
	justify-items: left;
	user-select: none;
}

#login {
	background-color: rgb(229, 130, 70);
	color: white;
	font-weight: 700;
	font-size: 105%;
	letter-spacing: 0.5px;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	border: 1px black solid;
	border: unset;
	cursor: pointer;
	user-select: none;
	margin-top: 10px;
}

#login:hover {
	background-color: rgb(197, 102, 43);
}

.isLoginBtnLoading {
	background-color: rgb(197, 100, 40) !important;
	pointer-events: none;
}

.error_msg {
	margin-top: 10px;
	margin-bottom: 40px;
	color: red;
	font-size: 16px;
}

#forgotPass {
	color: white;
}

#forgotPass:hover {
	text-decoration: underline;
}

.botton_navBtn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	/* font-weight: 600; */
	height: 60px;
	width: 100%;
	border: solid #ffffff4d;
	border-width: thin 0 0;
}

.botton_navBtn a {
	margin-left: 5px;
	font-weight: bold;
}

.botton_navBtn a:hover {
	text-decoration: underline;
}

.button_2 {
	user-select: none;
	background-color: #42b72a;
	color: white;
	font-weight: 600;
	font-size: 100%;
	width: 50%;
	height: 40px;
	border: unset;
	border-radius: 25px;
}

.button_2:hover {
	background-color: #306e23 !important;
}

/* -----------mWeb----------- */
@media screen and (max-width: 700px) {
	#myLogo {
		height: 150px;
	}

	.form {
		width: 90%;
		padding: 10px 0;
	}
}

@media screen and (max-width: 475px) {
	.authPage {
		min-height: 90vh;
	}
	#myLogo {
		height: 100px;
	}
	input {
		width: 95%;
		font-size: 15px;
		height: 35px;
	}

	#showPassword,
	#login {
		width: 90%;
	}
}
