.ConfirmationDialogBoxBg {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ConfirmationDialogBox {
	background-color: #121212;
	border-radius: 5px;
	width: 400px;
	padding: 20px;
	color: white;
	box-shadow:
		0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14),
		0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
	margin: 32px;
}

.ConfirmationDialogBoxTitle {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: 0.0075em;
	padding-bottom: 16px;
}

.ConfirmationDialogBoxMessage {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	color: rgba(255, 255, 255, 0.7);
	padding-bottom: 24px;
}

.ConfirmationDialogBoxBtns {
	display: flex;
	justify-content: space-between;
}

.ConfirmationDialogBoxYesBtn {
	background-color: #007bff;
	color: #fff;
	font-size: 20px;
	border: unset;
	border-radius: 5px;
	width: 45%;
	padding: 10px 0;
}

.ConfirmationDialogBoxYesBtn:hover {
	background-color: #0069d9;
}

.ConfirmationDialogBoxNoBtn {
	background-color: red;
	color: white;
	font-size: 20px;
	border: unset;
	border-radius: 5px;
	width: 45%;
	padding: 10px 0;
}

.ConfirmationDialogBoxNoBtn:hover {
	background-color: #dc3545;
}

@media screen and (max-width: 500px) {
	.ConfirmationDialogBox {
		width: 90%;
	}
}
