.aboutSettings {
	margin: 0 50px;
}

.aboutSettingsTitle {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

.aboutPoints {
	display: list-item;
	list-style-type: disc;
	margin: 5px 20px;
	line-height: 32px;
}

.aboutPoints a:hover {
	text-decoration: underline;
}

.aboutdeveloperTitle {
	display: block;
	font-size: 25px;
	font-weight: 500;
	cursor: pointer;
	margin: 20px 0;
}

@media screen and (max-width: 470px) {
	.aboutSettings {
		margin: 0 30px;
	}
}
