.userInfo {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
}

.ProfilePictureTitle {
    font-size: 15px;
    margin-bottom: 5px;
}

.ProfilePictureImg {
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin-right: 30px;
}

.userDetails {
    width: 100%;
}

.userNameTitle {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.userName {
    display: flex;
    width: 100%;
}

input {
    font-size: 17px;
    box-shadow: 0 2px 4px rgba(192, 192, 192, 0.1);
    border: #2e2c2c 2px solid;
    border-radius: 5px;
    width: 40% !important;
    height: 40px;
    padding-left: 12px;
    outline: unset;
    margin-right: 20px;
}

input:hover {
    border: #757575 2px solid;
}

.saveChangesBtn {
    margin-top: 60px;
    text-align: right;
}
