.aboutSettings {
	margin: 0 50px;
}

.aboutSettingsTitle {
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

li {
	line-height: 32px;
}

@media screen and (max-width: 470px) {
	.aboutSettings {
		margin: 0 30px;
	}
}
