#toolbar {
	position: sticky;
	top: 0;
	background: #1a1a1a;
	z-index: 1;
	border: unset !important;
	/* box-shadow: -2px 3.5px 5px 0px rgba(0, 0, 0, 0.5); */
}

.toolbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between !important;
}

#arrowBackIcon {
	display: none;
}

.notForPc {
	display: none !important;
}

.ql-toolbar .ql-stroke {
	fill: none;
	stroke: #f1f1f1;
}

.ql-toolbar .ql-fill,
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
	fill: #f1f1f1;
}

.ql-snow a {
	color: rgb(102, 163, 224);
}

.ql-toolbar .ql-picker {
	color: #f1f1f1;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
	margin-top: -13px;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button,
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker,
.ql-snow .ql-icon-picker .ql-picker-item {
	height: 30px;
	width: 30px;
}

.ql-picker-label svg {
	height: 25px;
	width: 25px;
}

.ql-toolbar.ql-snow .ql-picker-label {
	border: unset; /*picker border remove*/
}

.ql-picker-options {
	border: unset !important; /*picker option border remove*/
	border-radius: 5px;
	background-color: #121212 !important; /*picker option background color*/
	background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}

.ql-container {
	border: unset !important;
	font-size: 17px;
	/* background-color: rgb(37, 37, 117); */
}

.ql-editor {
	height: calc(100vh - 91px);
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
	padding-bottom: 400px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
	font-size: 20px; /*placeholder font size*/
	color: rgb(213, 213, 213); /*placeholder color*/
}

.ql-editor span {
	border-radius: 3px;
}

.ql-editor ol,
.ql-editor ul {
	padding-left: unset;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
	margin-bottom: 5px;
}

/* ...............M-Web................ */
@media screen and (max-width: 1088px) {
	.notForPhone {
		display: none !important;
	}
	.notForPc {
		display: inline-block !important;
	}
}

@media screen and (max-width: 768px) {
	#arrowBackIcon {
		display: inline-block;
	}
	.ql-container {
		font-size: 16px;
	}
}

@media screen and (max-width: 586px) {
	.ql-editor {
		height: calc(100vh - 121px);
	}
}
