#toolbar {
	position: sticky;
	top: 0;
	background: #1a1a1a;
	z-index: 1;
	border: unset !important;
	/* box-shadow: -2px 3.5px 5px 0px rgba(0, 0, 0, 0.5); */
}

.toolbarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between !important;
}

#arrowBackIcon {
	display: none;
}

.notForPc {
	display: none !important;
}

/* Quill Toolbar Styling */
/* .ql-toolbar.ql-snow {
	border: none !important;
	padding: 0 !important;
} */

.ql-toolbar .ql-stroke {
	fill: none;
	stroke: #f1f1f1;
}

.ql-toolbar .ql-fill,
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
	fill: #f1f1f1;
}

.ql-toolbar .ql-picker {
	color: #f1f1f1;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
	margin-top: -13px;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button,
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker,
.ql-snow .ql-icon-picker .ql-picker-item {
	height: 30px;
	width: 30px;
}

.ql-picker-label svg {
	height: 25px;
	width: 25px;
}

.ql-toolbar.ql-snow .ql-picker-label {
	border: unset;
}

.ql-picker-options {
	border: unset !important;
	border-radius: 5px;
	background-color: #121212 !important;
	background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

/* Quill Container Styling */
.ql-container.ql-snow {
	border: unset !important;
	font-size: 17px;
	height: calc(100vh - 91px);
}

.ql-container.ql-snow.disable_height {
	height: auto !important;
}

.ql-container.ql-snow.disable_height .ql-editor {
	padding-bottom: unset;
}

.ql-editor {
	overflow-y: auto;
	overflow-x: hidden;
	overflow-wrap: break-word;
	padding-bottom: 400px;
}

.ql-editor.ql-blank::before {
	font-size: 20px;
	color: rgb(213, 213, 213);
}

/* Text Formatting Styles */
.ql-editor span,
.ql-editor strong,
.ql-editor u,
.ql-editor em,
.ql-editor s {
	border-radius: 3px;
}

.ql-editor p {
	color: white;
}

.ql-snow a {
	color: rgb(102, 163, 224);
}

.ql-snow .ql-editor blockquote {
	border-color: red;
}

.ql-editor li s {
	text-decoration-color: #ff0000;
}

/* List Styling */
.ql-editor ol,
.ql-editor ul {
	padding-left: unset;
}

.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
	margin-bottom: 5px;
}

/* Checklist Styling */
.ql-editor li[data-list="unchecked"] > .ql-ui:before,
.ql-editor li[data-list="checked"] > .ql-ui:before {
	color: white;
	font-family: system-ui;
	transform: translate(-2px) scale(1.3);
	cursor: pointer;
}

.ql-editor li[data-list="unchecked"] > .ql-ui:before {
	font-weight: bold;
	transform: translate(-4px, -2.5px) scale(1.5);
}

.ql-editor li[data-list="checked"] {
	text-decoration-line: line-through;
	text-decoration-color: red;
}

/* Responsive Design */
@media screen and (max-width: 1088px) {
	.notForPhone {
		display: none !important;
	}
	.notForPc {
		display: inline-block !important;
	}
}

@media screen and (max-width: 768px) {
	#arrowBackIcon {
		display: inline-block;
	}
	.ql-container.ql-snow {
		font-size: 16px;
	}
}

@media screen and (max-width: 586px) {
	.ql-container.ql-snow {
		height: calc(100vh - 121px);
	}
}
