.folderDialogBox {
	background-color: #121212;
	border-radius: 5px;
	box-sizing: border-box;
	max-height: 500px;
	min-height: 500px;
	width: 700px;
	padding: 20px;
	color: white;
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
		0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
	/* overflow: auto; */
}

.folderDialogBoxContainer {
	overflow: auto;
	height: 425px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	border-radius: 0 0 10px 10px;
}

.folderDialogBoxContainer::-webkit-scrollbar {
	display: none;
}

.folderDialogTableTitle {
	font-weight: 500;
	margin-bottom: 10px;
}

.folderDialogBoxTable {
	background-color: rgba(79, 79, 79, 0.5);
	padding: 0 15px;
	border-radius: 10px;
}

.folderDialogBoxTableCol {
	display: flex;
	align-items: center;
	padding: 6px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	width: 100%;
}

.folderDialogBoxTableCol:hover {
	background-color: rgb(75, 75, 75);
}

.colIconTitle {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.colTitle {
	overflow: hidden;
	text-overflow: ellipsis;
}

.folderDialogBoxTableColAddBtn {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-weight: 500;
	color: #2894d1;
}

.folderDialogBoxTableColAddBtn:hover {
	background-color: rgb(75, 75, 75);
}

.shareCopySaveBtns {
	display: flex;
	justify-content: space-between;
}

/* ---------------Edit---------------- */
.folderDialogEditBoxAddBtn {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-weight: 500;
	color: #2894d1;
}

.folderDialogBoxBtnAlign {
	display: flex;
	justify-content: space-between;
}

/* -------------drawer---------------- */
.allNotesListDrawer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	padding: 10px 15px;
}

@media screen and (max-width: 750px) {
	.folderDialogBox {
		width: 90%;
		padding: 10px;
	}
	.folderDialogBoxTable {
		padding: 0 10px;
	}
	.folderDialogBoxTableCol {
		font-size: 15px;
	}

	.folderDialogBoxContainer {
		height: 445px;
	}
}
