#homePage {
    background: #252525;
    min-height: 100vh;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 12px 0;
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid #f1f1f1b0;
    width: 100%;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    margin: 0 10px 0 30px;
}

#name {
    font-size: 14px;
    font-weight: 550;
}

#searchBox {
    width: 550px;
    height: 25px;
    background: rgb(73, 73, 73);
    padding-left: 10px;
    color: rgb(226, 226, 226);
    border: 1px solid grey;
    border-radius: 3px;
    font-weight: 550;
}

.addNoteBtn {
    background: rgb(59, 134, 77);
    margin-right: 20px;
    padding: 7px 12px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 550;
    user-select: none;
}

#option {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 90.69px;
    background-color: rgb(110, 110, 95);
    border: solid black 1px;
    font-size: 17px;
    text-align: center;
    border-radius: 7px;
    user-select: none;
}

#option div {
    padding: 10px;
}

#option div:first-child {
    border-bottom: solid black 1px;
}

/* .......navBar_END......... */

#content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-bottom: 90px;
}

#msg {
    padding-top: 80px;
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.noteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(238, 83, 109);
    color: white;
    width: 370px;
    height: 160px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 20px;
}

.titleAndType {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.noteTitle {
    font-size: 20px;
    font-weight: bold;
}

.noteType {
    background: rgb(53, 52, 52);
    padding: 7px 13px;
    border-radius: 10px;
    color: rgb(231, 102, 145);
    font-size: 14px;
}

.noteContent {
    font-size: 13px;
    margin: 15px 0px;
    height: 78px;
    white-space: pre-line;
    overflow: hidden;
}

.todoDisplay {
    margin-left: 1em;
    display: list-item;
}

.date {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}


/* ..........M-Web........... */

@media screen and (max-width: 945px) {
    #searchBox {
        width: 400px;
    }

    #content {
        padding-left: unset;
    }
}

@media screen and (max-width: 900px) {
    .noteBox {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    #searchBox {
        width: 300px;
    }

    .noteBox {
        width: 37%;
    }
}
@media screen and (max-width: 615px) {
    #name {
        display: none;
    }

    .noteBox {
        width: calc(90% - 40px);
        margin: 8px auto;
    }
}

@media screen and (max-width: 530px) {

    #logo img {
        margin-left: 10px;
    }
    .addNoteBtn {
        margin-right: 10px;
    }

    #option {
        right: 10px;
    }

    #searchBox {
        width: 200px;
    }
}