img {
    user-select: none;
}

.noteIdNotFound {
    display: none !important;
}

#notesModelBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid #f1f1f1b0;
    padding: 10px 0px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    z-index: 10;
}

#title {
    font-size: 20px;
    margin-left: 20px;
    color: white;
    background-color: unset;
    border: unset;
    width: 300px;
}

#barImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}

#barImg img {
    height: 30px;
    margin-right: 8px;
    padding: 0 5px;
    cursor: pointer;
}

#closeBtn {
    margin-left: 30px;
    padding: 3px 5px;
    cursor: pointer;
}

#background {
    background: #252525;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

#msg {
    padding-top: 65px;
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: bold;
}

#alignElementBox {
    display: flex;
    justify-content: center;
    background-color: red;
}

#elementBox {
    margin: 15px 0;
    width: 100%;
    height: 88%;
}

#notesArea {
    position: absolute;
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    resize: unset;
    width: calc(100% - 30px);
    min-height: 88%;
    background: unset;
    border: unset;
    outline: unset;
}

.toDosBox {
    display: flex;
    align-items: center;
    background-color: rgba(24, 23, 23, 0.6);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 15px;
}

.toDosBox:last-child {
    border-bottom: 1px solid #ccc;
}

.toDosBox img {
    height: 22px !important;
    padding: 6px;
}

.todos {
    color: white;
    font-size: 18px;
    padding: 10px;
    resize: vertical;
    outline: unset;
    width: 94%;
    background-color: unset;
    border: unset;
}

.todos:focus {
    background-color: rgb(49, 48, 48);
}

.todosIsDone {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 182, 182);
    text-decoration-thickness: 2px;
}

.toDosCheckbox {
    cursor: pointer;
    background-color: aqua;
    width: 17px;
    height: 17px;
}

#addTodos {
    margin: 20px 0;
    margin-left: 2%;
    padding: 5px;
    background-color: rgba(24, 23, 23, 0.6);
    color: white;
    border: 1px solid #ccc;
    width: fit-content;
    user-select: none;
    cursor: pointer;
}

#error {
    text-align: center;
    color: red;
    font-size: 30px;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 768px) {
    #title {
        font-size: 18px;
        margin-left: 15px;
    }

    #closeBtn {
        margin-left: 10px;
    }

    #notesArea{
        font-size: 15px;
    }

    .todos {
        font-size: 15px;
    }
}
@media screen and (max-width: 480px) {
    #title {
        font-size: 18px;
        margin-left: 15px;
        width: 220px;
    }

    #barImg {
        margin-right: 10px;
    }

    #closeBtn {
        font-size: 15px;
        margin: unset;
    }

    #barImg img {
        height: 25px;
    }

    #barImg img:first-child {
        height: 27px;
        margin-right: 5px;
    }

    #notesArea, .todos {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    #title {
        font-size: 16px;
        width: 200px;
    }

    #notesArea, .todos {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    #title {
        font-size: 15px;
        margin-left: 12px;
        width: 180px;
    }

    #barImg img {
        height: 25px;
        padding: unset;
        margin-right: 10px !important;
    }

    #notesArea, .todos {
        font-size: 13px;
    }
}