#addNotesInputBox {
	position: sticky;
	top: 0px;
	background: #1e1e1e;
	box-shadow: -2px 3.5px 5px 0px rgba(0, 0, 0, 0.75);
}

#addNotesInputBox input {
	height: 30px;
	width: calc(95% - 7px);
	outline: unset;
	border: unset;
	background: unset;
	background-color: bisque;
	border-radius: 5px;
	margin: 10px 0;
	padding-left: 5px;
}

#homePageSkeleton {
	margin-top: 100px;
	text-align: center;
}

#homePageSkeletonImg {
	width: 70%;
}

#homePageSkeletonText {
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px #000;
}

#renderNotes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 45px - 52px);
	max-height: calc(100vh - 45px - 52px);
	overflow: auto;
	text-align: left;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#renderNotes::-webkit-scrollbar {
	display: none;
}

.noteBox {
	background: rgb(220 95 115);
	color: white;
	width: calc(95% - 40px);
	padding: 10px 20px;
	border-radius: 15px;
	margin: 5px auto;
}

.noteBox:first-child {
	margin-top: 10px;
}

.noteBox:last-child {
	margin-bottom: 150px;
}

.noteTitle {
	font-size: 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 550;
	margin-bottom: 3.5px;
}

.noteContent {
	font-size: 13px;
	height: 38px;
	margin-bottom: 3px;
	overflow: hidden;
}

.noteDisplay {
	display: -webkit-box;
	line-height: 18px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.todoDisplay {
	display: list-item;
	line-height: 18px;
	margin-left: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.date {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-weight: bold;
}

/* ...............M-Web................ */

@media screen and (max-width: 768px) {
	#renderNotes {
		width: 100%;
		min-height: unset;
		max-height: unset;
		overflow: unset;
	}
}
