.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(54, 54, 54, 0.95);
    outline: unset;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    overflow: auto;
}

/* ...............modalContent................. */
#notesArea {
    position: absolute;
    padding: 10px 15px 40px 15px;
    color: white;
    font-size: 16px;
    resize: unset;
    width: calc(100% - 30px);
    min-height: calc(90% - 40px);
    background: unset;
    border: unset;
    outline: unset;
}

.toDosBox {
    display: flex;
    align-items: center;
}

.firstToDoBox {
    margin-top: 10px;
}

.toDosBox:focus-within {
    background-color: rgb(58, 58, 58);
}

.toDosBox:last-child {
    margin-bottom: 40px;
}

.todosInputBox {
    color: white;
    font-size: 15px;
    padding: 10px;
    resize: vertical;
    outline: unset;
    width: 94%;
    background-color: unset;
    border: unset;
}

.todosIsDone {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 182, 182);
    text-decoration-thickness: 2px;
}

/* ...............................mWeb............................. */
@media screen and (max-width: 768px) {
    #notesArea {
        font-size: 15px;
    }

    .todos {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    #notesArea {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .modal {
        width: 95%;
        height: 80%;
    }

    #notesArea,
    .todosInputBox {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    #notesArea,
    .todosInputBox {
        font-size: 13px;
    }
}

@media screen and (max-height: 400px) {
    .modal {
        height: 95%;
    }
}
