#noteContainerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#backAndTitleSection {
    width: 33.3%;
    display: flex;
    align-items: center;
}

#addNoteAndTodoSection {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#deleteAndSaveBtnSection {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#Notetitle {
    min-width: 33.3%;
    padding: 5px 10px;
    z-index: 1;
    height: fit-content;
    border: unset;
}

#arrowBackIcon {
    display: none;
}

@media screen and (max-width: 768px) {
    #arrowBackIcon {
        display: inline-flex;
    }
}
