.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	min-height: 44px;
	max-height: 44px;
	background-color: #121212;
	border-width: 0;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-bottom-width: thin;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	width: 100%;
}

.navbarForNoteModal {
	display: none;
}

#logo {
	display: flex;
	align-items: center;
}

#name {
	font-size: 18px;
	font-weight: 500;
}

#searchBox {
	width: 550px;
	height: 30px;
	background: rgb(73, 73, 73);
	padding-left: 10px;
	color: white;
	border: 1px solid grey;
	border-radius: 3px;
	font-weight: 550;
	outline-color: #121212;
}

.addNoteBtn {
	margin-right: 20px !important;
	border-radius: 7px !important;
	font-weight: 550 !important;
	padding: 5px 8px !important;
	font-size: 12px !important;
}

.drawerTitle {
	font-size: 18px;
	font-weight: 500;
	margin: 20px;
}

@media screen and (max-width: 768px) {
	.navbarForNoteModal {
		display: flex;
	}
}
